.gread {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3);
}

#green {
  grid-column: 1 / span4;
}
#orange {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
#blue {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.x {
  display: grid;
  grid-template-areas:
    "a b"
    "c d";
  grid-gap: 1px;
}
.y {
  display: grid;
  grid-template-areas:
    "t y"
    "u o";
  grid-gap: 1px;
}
